@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab");
/* fonts */
/* color sets */
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

/*
* horizontal menu
*/
/* end of mixin horizontal-menu */
/*
* vartical menu
*/
/* special definitions fot categories widget */
.widget_categories {
  /* .super-category */ }
  .widget_categories li.super-category {
    display: flex;
    flex-direction: column; }
    .widget_categories li.super-category .super-category-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .widget_categories li.super-category ul {
      padding-left: 0.5em; }
      .widget_categories li.super-category ul li:not(.super-category) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none; }

/* .widget_categories */
.widget_search {
  display: flex;
  flex-direction: row; }
  .widget_search label {
    display: none; }
  .widget_search form > div {
    display: flex;
    flex-direction: row; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* .container */
.main {
  display: flex;
  flex-direction: column; }

header, .header {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    header, .header {
      width: 1024px; } }

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .content {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 1024px; } }

.row {
  display: flex;
  flex-direction: column;
  align-self: normal;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .row {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%; } }

article.post-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em; }
  @media only screen and (min-width: 768px) {
    article.post-index {
      width: 33.333333%; } }

footer, .footer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    footer, .footer {
      width: 1024px; } }

.left-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em; }
  @media only screen and (min-width: 768px) {
    .left-sidebar {
      width: 25%; } }

.right-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em; }
  @media only screen and (min-width: 768px) {
    .right-sidebar {
      width: 25%; } }

.header-sidebar {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .header-sidebar {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 1024px; } }

.footer-sidebar {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .footer-sidebar {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 1024px; } }

.menu-sidebar {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .menu-sidebar {
      flex-direction: row;
      flex-wrap: nowrap;
      width: auto; } }

h1, .h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #4abdac; }

h2, .h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #fc4a1a; }

h3, .h3 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #4abdac; }

h4, .h4 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #fc4a1a; }

h5, .h5 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #4abdac; }

h6, .h6 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fc4a1a; }

p, li {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  color: #2c2c2d; }

a {
  color: #4abdac;
  text-decoration: none; }
  a:hover {
    color: #f76733;
    text-decoration: underline; }
  a:active {
    color: #f76733;
    text-decoration: underline; }

nav.navbar {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  background-color: #dfdce3;
  /* .brand-toggle */
  /* .collapsed */ }
  @media only screen and (min-width: 768px) {
    nav.navbar {
      flex-direction: row;
      justify-content: none; } }
  nav.navbar > .brand-toggle {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: baseline;
    justify-content: space-between;
    width: 100%;
    /* .brand-toggle */ }
    @media only screen and (min-width: 768px) {
      nav.navbar > .brand-toggle {
        width: auto; } }
    nav.navbar > .brand-toggle > .brand {
      float: left;
      padding: 1em; }
      nav.navbar > .brand-toggle > .brand > a {
        color: #4abdac;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 20px; }
        nav.navbar > .brand-toggle > .brand > a:hover {
          color: #fc4a1a;
          text-decoration: none; }
        nav.navbar > .brand-toggle > .brand > a:active {
          color: #fc4a1a;
          text-decoration: none; }
    nav.navbar > .brand-toggle > .toggle {
      display: flex;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin-right: 1em; }
      @media only screen and (min-width: 768px) {
        nav.navbar > .brand-toggle > .toggle {
          display: none; } }
  nav.navbar > .collapsed {
    display: none;
    flex-direction: column;
    width: 100%;
    /* navbar inside collapsed */
    /* div.nav */ }
    @media only screen and (min-width: 768px) {
      nav.navbar > .collapsed {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto; } }
    nav.navbar > .collapsed > div.nav {
      /* div.menu */ }
      nav.navbar > .collapsed > div.nav > div {
        /* item list*/
        /* ul */ }
        nav.navbar > .collapsed > div.nav > div > ul {
          display: flex;
          flex-direction: column;
          /* menu item */
          /* li - menu-item or page_item */ }
          @media only screen and (min-width: 768px) {
            nav.navbar > .collapsed > div.nav > div > ul {
              flex-direction: row; } }
          nav.navbar > .collapsed > div.nav > div > ul > li {
            list-style-type: none;
            padding: 1em;
            /* menu items with submenus */
            /* .page_item_has_children */ }
            nav.navbar > .collapsed > div.nav > div > ul > li a {
              color: #4abdac;
              text-decoration: none;
              font-family: "Roboto", sans-serif;
              font-size: 20px; }
              nav.navbar > .collapsed > div.nav > div > ul > li a:hover {
                color: #fc4a1a;
                text-decoration: none; }
              nav.navbar > .collapsed > div.nav > div > ul > li a:active {
                color: #fc4a1a;
                text-decoration: none; }
            nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children, nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children {
              /* submenu */ }
              @media only screen and (min-width: 768px) {
                nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children, nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children {
                  position: relative; } }
              nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children .super-item, nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children .super-item {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: baseline;
                justify-content: space-between; }
              nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.children,
              nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.sub-menu, nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.children,
              nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.sub-menu {
                display: none;
                flex-direction: column;
                background-color: #dfdce3;
                /* submenu items */ }
                @media only screen and (min-width: 768px) {
                  nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.children,
                  nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.sub-menu, nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.children,
                  nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.sub-menu {
                    position: absolute; } }
                @media only screen and (min-width: 768px) {
                  nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.children,
                  nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.sub-menu, nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.children,
                  nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.sub-menu {
                    min-width: 300px;
                    border: 1px solid #bdbac1;
                    border-radius: 5px; } }
                nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.children > li,
                nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.sub-menu > li, nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.children > li,
                nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.sub-menu > li {
                  list-style-type: none;
                  padding-top: 1em;
                  padding-left: 1em;
                  padding-bottom: 1em; }
                  @media only screen and (min-width: 768px) {
                    nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.children > li,
                    nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.sub-menu > li, nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.children > li,
                    nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.sub-menu > li {
                      padding-right: 1em; } }
                  nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.children > li > a,
                  nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.sub-menu > li > a, nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.children > li > a,
                  nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.sub-menu > li > a {
                    color: #4abdac;
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-size: 18px; }
                    nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.children > li > a:hover,
                    nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.sub-menu > li > a:hover, nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.children > li > a:hover,
                    nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.sub-menu > li > a:hover {
                      color: #fc4a1a;
                      text-decoration: none; }
                    nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.children > li > a:active,
                    nav.navbar > .collapsed > div.nav > div > ul > li.page_item_has_children ul.sub-menu > li > a:active, nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.children > li > a:active,
                    nav.navbar > .collapsed > div.nav > div > ul > li.menu-item-has-children ul.sub-menu > li > a:active {
                      color: #fc4a1a;
                      text-decoration: none; }
  nav.navbar .toggle {
    height: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #2c2c2d;
    border: 1px solid #2c2c2d;
    border-radius: 5px; }
    nav.navbar .toggle:hover {
      text-decoration: none;
      color: #ffffff;
      background-color: #2c2c2d;
      border: 1px solid #2c2c2d;
      border-radius: 5px;
      cursor: pointer; }

.sidebar .menu,
.vertical-menu {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: none;
  /* item list*/
  /* ul */ }
  .sidebar .menu > ul,
  .vertical-menu > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* menu item */
    /* li - menu-item or page_item */ }
    .sidebar .menu > ul > li,
    .vertical-menu > ul > li {
      list-style-type: none;
      padding: 0.5em;
      padding-left: 0;
      /* menu items with submenus */
      /* .page_item_has_children */ }
      .sidebar .menu > ul > li a,
      .vertical-menu > ul > li a {
        color: #4abdac;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 16px; }
        .sidebar .menu > ul > li a:hover,
        .vertical-menu > ul > li a:hover {
          color: #fc4a1a;
          text-decoration: none; }
        .sidebar .menu > ul > li a:active,
        .vertical-menu > ul > li a:active {
          color: #fc4a1a;
          text-decoration: none; }
      .sidebar .menu > ul > li.page_item_has_children, .sidebar .menu > ul > li.menu-item-has-children,
      .vertical-menu > ul > li.page_item_has_children,
      .vertical-menu > ul > li.menu-item-has-children {
        display: flex;
        flex-direction: column;
        /* submenu */ }
        .sidebar .menu > ul > li.page_item_has_children .super-item, .sidebar .menu > ul > li.menu-item-has-children .super-item,
        .vertical-menu > ul > li.page_item_has_children .super-item,
        .vertical-menu > ul > li.menu-item-has-children .super-item {
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: baseline;
          justify-content: space-between; }
        .sidebar .menu > ul > li.page_item_has_children ul.children,
        .sidebar .menu > ul > li.page_item_has_children ul.sub-menu, .sidebar .menu > ul > li.menu-item-has-children ul.children,
        .sidebar .menu > ul > li.menu-item-has-children ul.sub-menu,
        .vertical-menu > ul > li.page_item_has_children ul.children,
        .vertical-menu > ul > li.page_item_has_children ul.sub-menu,
        .vertical-menu > ul > li.menu-item-has-children ul.children,
        .vertical-menu > ul > li.menu-item-has-children ul.sub-menu {
          display: none;
          flex-direction: column;
          background-color: none;
          /* submenu items */ }
          .sidebar .menu > ul > li.page_item_has_children ul.children > li,
          .sidebar .menu > ul > li.page_item_has_children ul.sub-menu > li, .sidebar .menu > ul > li.menu-item-has-children ul.children > li,
          .sidebar .menu > ul > li.menu-item-has-children ul.sub-menu > li,
          .vertical-menu > ul > li.page_item_has_children ul.children > li,
          .vertical-menu > ul > li.page_item_has_children ul.sub-menu > li,
          .vertical-menu > ul > li.menu-item-has-children ul.children > li,
          .vertical-menu > ul > li.menu-item-has-children ul.sub-menu > li {
            list-style-type: none;
            padding-top: 1em;
            padding-left: 1em;
            padding-bottom: 1em; }
            .sidebar .menu > ul > li.page_item_has_children ul.children > li > a,
            .sidebar .menu > ul > li.page_item_has_children ul.sub-menu > li > a, .sidebar .menu > ul > li.menu-item-has-children ul.children > li > a,
            .sidebar .menu > ul > li.menu-item-has-children ul.sub-menu > li > a,
            .vertical-menu > ul > li.page_item_has_children ul.children > li > a,
            .vertical-menu > ul > li.page_item_has_children ul.sub-menu > li > a,
            .vertical-menu > ul > li.menu-item-has-children ul.children > li > a,
            .vertical-menu > ul > li.menu-item-has-children ul.sub-menu > li > a {
              color: #4abdac;
              text-decoration: none;
              font-family: "Roboto", sans-serif;
              font-size: 14px; }
              .sidebar .menu > ul > li.page_item_has_children ul.children > li > a:hover,
              .sidebar .menu > ul > li.page_item_has_children ul.sub-menu > li > a:hover, .sidebar .menu > ul > li.menu-item-has-children ul.children > li > a:hover,
              .sidebar .menu > ul > li.menu-item-has-children ul.sub-menu > li > a:hover,
              .vertical-menu > ul > li.page_item_has_children ul.children > li > a:hover,
              .vertical-menu > ul > li.page_item_has_children ul.sub-menu > li > a:hover,
              .vertical-menu > ul > li.menu-item-has-children ul.children > li > a:hover,
              .vertical-menu > ul > li.menu-item-has-children ul.sub-menu > li > a:hover {
                color: #fc4a1a;
                text-decoration: none; }
              .sidebar .menu > ul > li.page_item_has_children ul.children > li > a:active,
              .sidebar .menu > ul > li.page_item_has_children ul.sub-menu > li > a:active, .sidebar .menu > ul > li.menu-item-has-children ul.children > li > a:active,
              .sidebar .menu > ul > li.menu-item-has-children ul.sub-menu > li > a:active,
              .vertical-menu > ul > li.page_item_has_children ul.children > li > a:active,
              .vertical-menu > ul > li.page_item_has_children ul.sub-menu > li > a:active,
              .vertical-menu > ul > li.menu-item-has-children ul.children > li > a:active,
              .vertical-menu > ul > li.menu-item-has-children ul.sub-menu > li > a:active {
                color: #fc4a1a;
                text-decoration: none; }

.widget {
  list-style-type: none;
  /* special definitions for recent posts & comments widget */
  padding-bottom: 1em; }
  .widget > .widgettitle {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #fc4a1a; }
  .widget > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px; }
    .widget > ul > li a {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      color: #4abdac;
      text-decoration: none; }
      .widget > ul > li a:hover {
        color: #f76733;
        text-decoration: none; }
      .widget > ul > li a:active {
        color: #f76733;
        text-decoration: none; }
  .widget li {
    padding-bottom: 0.25em; }

.widget_archive .widget-archive-count {
  height: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #f76733;
  border: 1px solid #f76733;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f76733; }
  .widget_archive .widget-archive-count:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #f76733;
    border: 1px solid #f76733;
    border-radius: 5px;
    cursor: pointer; }
  .widget_archive .widget-archive-count:hover {
    text-decoration: none;
    color: #f76733;
    background: none; }

.widget_categories .widget-category-count {
  height: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #f76733;
  border: 1px solid #f76733;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f76733; }
  .widget_categories .widget-category-count:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #f76733;
    border: 1px solid #f76733;
    border-radius: 5px;
    cursor: pointer; }
  .widget_categories .widget-category-count:hover {
    text-decoration: none;
    color: #f76733;
    background: none; }

.widget_recent_entries > ul > li,
.widget_recent_comments > ul > li {
  display: flex !important;
  flex-direction: column !important; }

.widget_tag_cloud a {
  height: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #4abdac;
  border: 1px solid #4abdac;
  border-radius: 5px;
  display: inline-flex;
  padding: 0.2em;
  margin: 0.2em;
  white-space: nowrap; }
  .widget_tag_cloud a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #4abdac;
    border: 1px solid #4abdac;
    border-radius: 5px;
    cursor: pointer; }
  .widget_tag_cloud a span {
    padding-left: 0.2em; }

.widget_calendar caption {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #fc4a1a; }

.widget_calendar td {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }
  .widget_calendar td a {
    color: #4abdac;
    text-decoration: none; }
    .widget_calendar td a:hover {
      color: #f76733;
      text-decoration: none; }
    .widget_calendar td a:active {
      color: #f76733;
      text-decoration: none; }

.widget_search {
  padding: 1em; }

.widget_pages {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: none;
  /* item list*/
  /* ul */ }
  .widget_pages > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* menu item */
    /* li - menu-item or page_item */ }
    .widget_pages > ul > li {
      list-style-type: none;
      padding: 0.5em;
      padding-left: 0;
      /* menu items with submenus */
      /* .page_item_has_children */ }
      .widget_pages > ul > li a {
        color: #4abdac;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 16px; }
        .widget_pages > ul > li a:hover {
          color: #fc4a1a;
          text-decoration: none; }
        .widget_pages > ul > li a:active {
          color: #fc4a1a;
          text-decoration: none; }
      .widget_pages > ul > li.page_item_has_children, .widget_pages > ul > li.menu-item-has-children {
        display: flex;
        flex-direction: column;
        /* submenu */ }
        .widget_pages > ul > li.page_item_has_children .super-item, .widget_pages > ul > li.menu-item-has-children .super-item {
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: baseline;
          justify-content: space-between; }
        .widget_pages > ul > li.page_item_has_children ul.children,
        .widget_pages > ul > li.page_item_has_children ul.sub-menu, .widget_pages > ul > li.menu-item-has-children ul.children,
        .widget_pages > ul > li.menu-item-has-children ul.sub-menu {
          display: none;
          flex-direction: column;
          background-color: none;
          /* submenu items */ }
          .widget_pages > ul > li.page_item_has_children ul.children > li,
          .widget_pages > ul > li.page_item_has_children ul.sub-menu > li, .widget_pages > ul > li.menu-item-has-children ul.children > li,
          .widget_pages > ul > li.menu-item-has-children ul.sub-menu > li {
            list-style-type: none;
            padding-top: 1em;
            padding-left: 1em;
            padding-bottom: 1em; }
            .widget_pages > ul > li.page_item_has_children ul.children > li > a,
            .widget_pages > ul > li.page_item_has_children ul.sub-menu > li > a, .widget_pages > ul > li.menu-item-has-children ul.children > li > a,
            .widget_pages > ul > li.menu-item-has-children ul.sub-menu > li > a {
              color: #4abdac;
              text-decoration: none;
              font-family: "Roboto", sans-serif;
              font-size: 14px; }
              .widget_pages > ul > li.page_item_has_children ul.children > li > a:hover,
              .widget_pages > ul > li.page_item_has_children ul.sub-menu > li > a:hover, .widget_pages > ul > li.menu-item-has-children ul.children > li > a:hover,
              .widget_pages > ul > li.menu-item-has-children ul.sub-menu > li > a:hover {
                color: #fc4a1a;
                text-decoration: none; }
              .widget_pages > ul > li.page_item_has_children ul.children > li > a:active,
              .widget_pages > ul > li.page_item_has_children ul.sub-menu > li > a:active, .widget_pages > ul > li.menu-item-has-children ul.children > li > a:active,
              .widget_pages > ul > li.menu-item-has-children ul.sub-menu > li > a:active {
                color: #fc4a1a;
                text-decoration: none; }

input[type='text'],
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #2c2c2d;
  padding: 0.5em;
  border: 1px solid #2c2c2d;
  border-radius: 5px; }

input[type='button'],
input[type='submit'],
input[type='cancel'] {
  height: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #2c2c2d;
  border: 1px solid #2c2c2d;
  border-radius: 5px;
  color: #ffffff;
  background-color: #2c2c2d;
  padding: 0.5em;
  height: auto; }
  input[type='button']:hover,
  input[type='submit']:hover,
  input[type='cancel']:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #2c2c2d;
    border: 1px solid #2c2c2d;
    border-radius: 5px;
    cursor: pointer; }
  input[type='button']:hover,
  input[type='submit']:hover,
  input[type='cancel']:hover {
    text-decoration: none;
    color: #2c2c2d;
    background: none; }
