.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} /* .container */

.main {
  display: flex;
  flex-direction: column;
}

header, .header {
  @include column($content-width, $content-align);
}

.content {
  @include row($content-width, $content-align, nowrap);
}

.posts {
    @include col-8();
}

.row {
  @include row();
}

footer, .footer {
  @include column($content-width, $content-align);
}

.left-sidebar {
  @include col-4();
  padding: $padding;
}

.right-sidebar {
  @include col-4();
  padding: $padding;
  display: none;
}

.header-sidebar {
  @include row($content-width, $content-align, wrap);
  padding: $padding;
}

.footer-sidebar {
  @include row($content-width, $content-align, wrap);
  padding: $padding;
}

.menu-sidebar {
  @include row(auto, $content-align, nowrap);
}
