.swtk-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} /* .container */

.swtk-main {
  display: flex;
  flex-direction: column;
}

header, .swtk-header {
  @include column($content-width, $content-align);
  @include header($primary);
  @include header-title($font-primary, $font-enorm, $white);
  @include header-text($font-secondary, $font-large, $white);
}

.swtk-content {
  @include row($content-width, $content-align, nowrap);
}

.swtk-posts {
    @include col-9();
}

.swtk-row {
  @include row();
}

footer, .swtk-footer {
  @include column($content-width, $content-align);
  @include footer-with-icons();
}

.swtk-left-sidebar {
  @include col-3();
  padding: $padding;
  padding-top: 0;
}

.swtk-right-sidebar {
  @include col-3();
  padding: $padding;
  display: none;
}

.swtk-header-sidebar {
  @include column($content-width, $content-align);
  padding: $padding;
}

.swtk-footer-sidebar {
  @include row($content-width, $content-align, wrap);
  padding: $padding;
}

.swtk-menu-sidebar {
  @include row(auto, $content-align, nowrap);
  padding: $padding;
 align-self: baseline;

  @include media-break-up($medium) {
    padding: 0;
  }
}

.swtk-404 {
    @include error-404();
}
