@mixin post($pos-title: 0, $pos-before: 0, $pos-text: 0, $pos-categories: 0, $pos-tags: 0, $pos-link: 0) {
    display: flex;
    padding: $padding;

    * {
        min-height: 0;
        min-width: 0;
    }

    .post-text {
        display: flex;
        flex-direction: column;

        & > * {
            margin-bottom: $padding / 2;
        }

        .post-title {
            @extend .h5;
            order: $pos-title;
        }

        .post-before {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            order: $pos-before;

            .post-author,
            .post-date {
                font-family: $font-secondary;
                font-size: $font-code;
                margin-right: 1em;
            }

        }

        .post-content {
            font-family: $font-secondary;
            font-size: $font-regular;
            order: $pos-text;
        }

        .post-categories {
            font-family: $font-primary;
            font-size: $font-code;
            order: $pos-categories;
            li {
                display: inline-flex;
                a {
                    @include badge-outline($font-primary, $font-code, $accent);
                    padding: $padding / 4;
                }
            }
        }

        .post-tags {
            font-family: $font-primary;
            font-size: $font-code;
            order: $pos-tags;
            a {
                @include link($primary, $accent, true);
                padding: $padding / 4;
            }
        }

        .post-link {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            order: $pos-link;

            a {
                @include badge($font-primary, $font-code, $primary);
                padding: $padding / 2;
            }
        }
    }
}

@mixin simple-column-post($pos-title: 0, $pos-before: 0, $pos-text: 0, $pos-categories: 0, $pos-tags: 0, $pos-link: 0) {
    @include post($pos-title, $pos-before, $pos-text, $pos-categories, $pos-tags, $pos-link);
    flex-direction: column;
}

@mixin simple-row-post($pos-title: 0, $pos-before: 0, $pos-text: 0, $pos-categories: 0, $pos-tags: 0, $pos-link: 0) {
    @include post($pos-title, $pos-before, $pos-text, $pos-categories, $pos-tags, $pos-link);
    flex-direction: column;

    .post-image, .post-text {
        width: 100%;
    }

    .post-text {
        padding-left: 0;
    }

    @include media-break-up($medium) {
        flex-direction: row;
        .post-image, .post-text {
            width: 50%;
        }

        .post-image {
            padding-right: $padding / 2;
        }

        .post-text {
            padding-left: $padding / 2;
        }

    }
}

@mixin serpantine-row-post($pos-title: 0, $pos-before: 0, $pos-text: 0, $pos-categories: 0, $pos-tags: 0, $pos-link: 0) {
    @include simple-row-post($pos-title, $pos-before, $pos-text, $pos-categories, $pos-tags, $pos-link);

    @include media-break-up($medium) {
        &:nth-child(odd) {
            flex-direction: row;
            .post-image {
                padding-right: $padding / 2;
                padding-left: 0;
            }

            .post-text {
                padding-left: $padding / 2;
                padding-right: 0;
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
            .post-image {
                padding-left: $padding / 2;
                padding-right: 0;
            }

            .post-text {
                padding-right: $padding / 2;
                padding-left: 0;
            }
        }
    }
}
