/*
* classes for unit test
*/

.alignleft {
    float: left;
    align-self: flex-start;
    img {
        float: left;
    }
}

.alignright {
    float: right;
    align-self: flex-end;
    img {
        float: left;
    }
}

.aligncenter {
    align-self: center;
    text-align: center;
}
